{% extends 'base.html' %}
    {% block content %}
<div class="container">
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
			<form action="/problems" method="POST" role="form">
			<h2>{{text_1}}</h2>
				<h5>{{text_2}}</h5>
			<hr class="colorgraph">
			<div class="row">
                {% for field in fields %}
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
                        <label> {{ field["human_label"] }} </label>
                        <input type={{field["type"]}} name={{field["name"]}}  id={{field["name"]}} class="form-control input-lg" tabindex={{loop.index}}>
					</div>
				</div>
                {% endfor %}
			</div>
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-md-6"><input type="submit" value="Submit" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
			</div>
		</form>
	</div>
</div>
</div>

{% endblock %}