{% extends 'base.html' %}
    {% block content %}
<div class="container">
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
			<form action="/puzzle" method="POST" role="form">
			<h2>Problem entry page...</h2>
				<hr class="colorgraph">
				<h5>Select output type...</h5>
				<div>
					<div class="form-group col-xs-12 col-sm-4 col-md-4" name='jigsaw-radio'>
                        <label> Jigsaw </label>
                        <input type="radio" name="options" id="tarsia" value="tarsia" checked>
				</div>
				<div class="form-group col-xs-12 col-sm-4 col-md-4" name='treasure-radio'>
                        <label> Treasure hunt </label>
                        <input type="radio" name="options" id="treasure" value="treasure">
				</div>
				<div class="form-group col-xs-12 col-sm-4 col-md-4" name='sheet-radio'>
                        <label> Worksheet </label>
                        <input type="radio" name="options" id="worksheet" value="worksheet">
				</div>
				</div>
				<div class="hide-div"><input type='number' name="size"  id="size" value={{size}}></div>
					<label>Include math tex?...</label><input type="checkbox" class="question" id="math-text" name="math-text" checked/><br>
					<label>Include normal text?...</label><input type="checkbox" class="question" id="normal-text" name="normal-text" checked/>
				<hr class="colorgraph">
				<div class="row">
                {% for field in fields %}
				<div class="col-xs-12 col-sm-3 col-md-3">
					<div class="form-group" name={{field["name"]}}>
                        <label> {{ field["human_label"] }} </label>
                        <input type={{field["type"]}} name={{field["name"]}}  id={{field["name"]}} class="form-control input-lg" tabindex={{loop.index}}>
					</div>
				</div>
                {% endfor %}
			</div>
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-md-6"><input type="submit" value="Submit" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
			</div>
		</form>
	</div>
<!--	 <label>Hide tips to enter mathematical symbols...</label><input type="checkbox" class="question" checked/>-->
<!--		<div class="answer">-->
<!--			<img src="{{url_for('static', filename='tips.jpg')}}" alt="Hipster"/>-->
<!--		</div>-->
</div>
</div>

{% endblock %}